#%RAML 1.0
title: ePIC REST API
version: v1
baseUri: https://e-pic.picbusiness.com/16903TEST/php/Rest/index.php/api/
securitySchemes:
    oauth_2_0:
      description: |
          ePIC API supports OAuth 2.0 for authenticating all API requests.
      type: OAuth 2.0
      describedBy:
          headers:
              Authorization:
                  description: |
                     Used to send a valid OAuth 2 access token. Do not use
                     with the "access_token" query string parameter.
                  type: string
          queryParameters:
              access_token:
                  description: |
                     Used to send a valid OAuth 2 access token. Do not use together with the "Authorization" header
                  type: string
          responses:
              401:
                  description: |
                      Bad or expired token. This can happen if the access token is expired. To fix, you should re-
                      authenticate the user.
              403:
                  description: |
                      Bad OAuth request (wrong consumer key, bad nonce, expired
                      timestamp...). Unfortunately, re-authenticating the user won't help here.
      settings:
        authorizationUri: https://e-pic.picbusiness.com/16903TEST/php/Rest/index.php/oauth2/authorize
        accessTokenUri: https://e-pic.picbusiness.com/16903TEST/php/Rest/index.php/oauth2/token
        authorizationGrants: [ 'authorization_code', 'password','client_credentials' ]
securedBy: oauth_2_0
types:
  Appointment:
    type: object
    properties:
      Appointment: number
      Customer: string
      Status: number
      PriorAppointment: number
      ProductOrder: number
      InstallerOrder: number
      Roles: Roles
  DateObject:
    type: object
    properties:
      date: datetime
      timezone_type: number
      timezone: number
  Role:
    type: object
    properties:
      StartTime: DateObject
      IsPrimary: boolean
      TimeRequired: number
      Name: string
      Phone: string
      Email: string
      Id: number
      RessourceType: string
  Roles:
    type: object
    properties:
      DESIGNER:
        type: Role
        required: true
      INSTALLER:
        type: Role
/salespersons:
  description: load information about the current designer
/loginids:
  description: load user tied to the current designer
/orders:
  /op/LoadCustomerOrders:
    description: load work order owned by a customer and added by the current designer
    get:
      queryParameters:
        customerId:
          description: customer ID
          required: true
  /op/SaveOrder:
    description: Save a work order
    post:
      queryParameters:
        customerId:
          description: customer, owner of the work order, required if the access token is tied to a designer
          required: false
        wo:
          description: work order to save, if not specified, a new work order will be created
          required: false
        data:
          description: comma separated values of fields and values to save, example "ShName:foo,ShPhone:bar,...etc"
          required: true
        appointmentId:
          description: Appointment Id, must be supplied to create a new work order, appointment id must also belong to customer id for the request to be successful
          type: number
          required: false
        sidemark:
          description: work order sidemark, only used when creating a new work order
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "status": true,
                  "message": "Work Order# 20500829 saved"
                }
/orderitems:
  /op/DeleteItem:
    description: Delete order items, this end point is only accessible by consumers and designers
    post:
      queryParameters:
        wo:
          description: Work Order, if not set, this endpoint will use the current cart number if the access token is tied to a consumer and if there is an active cart, this is always required for designers
          type: number
          required: false
        item:
          description: which item to delete, set item to 0 to empty the work order (cart), all_products to delete all products, all_samples to delete all samples, set to 1 to delete item 1, ...etc
          type: string
          required: true
        customerId:
          description: the customer owner of the work order, this is required when the access token is tied to a designer, this is used by the system to make sure that the wo is owned by this customerId. customerId is not used if the access token is tied to a consumer
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "status":true,
                  "message": "The following items have been deleted (2,5,9)"
                }
  /op/LoadOrderItem:
    description: Load an order item
    get:
      queryParameters:
        default:
          description: whether to load order item defaults - if present, wo and item are ignored and the endpoint returns order item defaults
          required: false
          type: boolean
        wo:
          description: work order number, if not present, the endpoints will use the Wo in the consumer record (current Cart number), if set
          required: false
          type: number
        item:
          description: which item to load, required unless default is used, in which case it is ignored
          required: false
          type: number
        customerId:
          description: the customer owner of the work order, this is required when the access token is tied to a designer, this is used by the system to make sure that the wo is owned by this customerId. customerId is not used if the access token is tied to a consumer
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
              example: |
                {
                                          "status": true,
                                          "item": {
                                            "Wo": "20347865",
                                            "Item": "2",
                                            "GGroup": "99999",
                                            "Product": "9000",
                                            "Model": "",
                                            "Stock": "16325",
                                            "Color": "",
                                            "Qty": "1.000",
                                            "QtyPacked": "1.000",
                                            "QtyShipped": "1.000",
                                            "ReliefPurchase": "R",
                                            "Warehouse": "1",
                                            "ManualWhs": "",
                                            "ShipVia": "",
                                            "ShipTo": "",
                                            "Retail": "0.0000",
                                            "Misc": "0.0000",
                                            "DiscTier": "",
                                            "Discount": "0.0000",
                                            "Surch": "0.0000",
                                            "FedTaxable": "N",
                                            "StateTaxable": "N",
                                            "Duty": "0.0000",
                                            "SubTotal": "0.0000",
                                            "IntDisc": "0.00",
                                            "AutoInstallCharge": "N",
                                            "ClientType": "",
                                            "ClientRate": "0.0000",
                                            "Value": "0.0000",
                                            "CostRetail": "0.0000",
                                            "CostMisc": "0.0000",
                                            "CostSurch": "0.0000",
                                            "QtyInvoiced": "1.000",
                                            "QtyCancelled": "0.000",
                                            "QtyPosted": "1.000",
                                            "CloseOutQty": "0.000",
                                            "QtySpecialPOMade": "0.000",
                                            "PercentAccuracy": "100.00",
                                            "EffectiveDiscRate": "0.0000",
                                            "OriginalEffDisc": "0.0000",
                                            "PostStatus": "2",
                                            "Printed": "0",
                                            "MiscCode": "0",
                                            "SurchCode": "0",
                                            "Room": "",
                                            "Window": "0",
                                            "CommentStar": "",
                                            "ManualPrice": "",
                                            "ManualInventory": "",
                                            "ManualVariable": "",
                                            "Commission1": "0.00",
                                            "Commission2": "0.00",
                                            "Commission3": "0.00",
                                            "Commission4": "0.00",
                                            "Commission5": "0.00",
                                            "Description": "",
                                            "Outsource": "N",
                                            "ManualOverride": "N",
                                            "Vendor": "",
                                            "VendorDiscount": "",
                                            "VendorRate": "0.0000",
                                            "VendorDays": "0",
                                            "SurchBeforeRush": "0.0000",
                                            "Rush": "0.0000",
                                            "ItemBatch": "-1",
                                            "ItemBatchSeq": "0",
                                            "ItemStatus": "0",
                                            "ItemDateRequired": "0000-00-00",
                                            "ItemWhs": "",
                                            "WishDate": "0000-00-00",
                                            "EdiProduct": "0",
                                            "EdiCustomerItem": "",
                                            "OriginalItem": "0",
                                            "RemakeReason": "0",
                                            "PromptAnswers": "",
                                            "Characteristics": "",
                                            "Decoration": "0",
                                            "ProductCharge": "0",
                                            "ArtApprovalRequired": "N",
                                            "EstDate": "0000-00-00",
                                            "EstDateOrig": "0000-00-00",
                                            "EstDateNewDate": "0000-00-00",
                                            "HadEstDate": "",
                                            "CalculatedSubTotal": "0.0000",
                                            "SProduct": "94428",
                                            "EdiCustomerStock": "",
                                            "SalesContract": "",
                                            "ContractCost": "0.0000",
                                            "LoadPercent": "0.0000",
                                            "LoadDollars": "0.0000",
                                            "ScenarioI": "0",
                                            "TaxAmt": "0.0000",
                                            "FromMeasure": "",
                                            "EdiInfo0": "",
                                            "EdiInfo1": "",
                                            "EdiInfo2": "",
                                            "EdiInfo3": "",
                                            "EdiInfo4": "",
                                            "EdiInfo5": "",
                                            "EdiInfo6": "",
                                            "EdiInfo7": "",
                                            "EdiInfo8": "",
                                            "EdiInfo9": "",
                                            "UUID": "",
                                            "Dollar1": "",
                                            "Answers1": "",
                                            "Color1": "",
                                            "Dollar2": "",
                                            "Answers2": "",
                                            "Color2": "",
                                            "Dollar3": "",
                                            "Answers3": "",
                                            "Color3": "",
                                            "Dollar4": "",
                                            "Answers4": "",
                                            "Color4": "",
                                            "Dollar5": "",
                                            "Answers5": "",
                                            "Color5": "",
                                            "Dollar6": "",
                                            "Answers6": "",
                                            "Color6": "",
                                            "Dollar7": "",
                                            "Answers7": "",
                                            "Color7": "",
                                            "Dollar8": "",
                                            "Answers8": "",
                                            "Color8": "",
                                            "Dollar9": "",
                                            "Answers9": "",
                                            "Color9": "",
                                            "Dollar10": "",
                                            "Answers10": "",
                                            "Color10": "",
                                            "Dollar11": "",
                                            "Answers11": "",
                                            "Color11": "",
                                            "Dollar12": "",
                                            "Answers12": "",
                                            "Color12": "",
                                            "Dollar13": "",
                                            "Answers13": "",
                                            "Color13": "",
                                            "Dollar14": "",
                                            "Answers14": "",
                                            "Color14": "",
                                            "Dollar15": "",
                                            "Answers15": "",
                                            "Color15": "",
                                            "Dollar16": "",
                                            "Answers16": "",
                                            "Color16": "",
                                            "Dollar17": "",
                                            "Answers17": "",
                                            "Color17": "",
                                            "Dollar18": "",
                                            "Answers18": "",
                                            "Color18": "",
                                            "Dollar19": "",
                                            "Answers19": "",
                                            "Color19": "",
                                            "Dollar20": "",
                                            "Answers20": "",
                                            "Color20": "",
                                            "Dollar21": "",
                                            "Answers21": "",
                                            "Color21": "",
                                            "Dollar22": "",
                                            "Answers22": "",
                                            "Color22": "",
                                            "Dollar23": "",
                                            "Answers23": "",
                                            "Color23": "",
                                            "Dollar24": "",
                                            "Answers24": "",
                                            "Color24": "",
                                            "Dollar25": "",
                                            "Answers25": "",
                                            "Color25": "",
                                            "Dollar26": "",
                                            "Answers26": "",
                                            "Color26": "",
                                            "Dollar27": "",
                                            "Answers27": "",
                                            "Color27": "",
                                            "Dollar28": "",
                                            "Answers28": "",
                                            "Color28": "",
                                            "Dollar29": "",
                                            "Answers29": "",
                                            "Color29": "",
                                            "Dollar30": "",
                                            "Answers30": "",
                                            "Color30": "",
                                            "Dollar31": "",
                                            "Answers31": "",
                                            "Color31": "",
                                            "Dollar32": "",
                                            "Answers32": "",
                                            "Color32": "",
                                            "Dollar33": "",
                                            "Answers33": "",
                                            "Color33": "",
                                            "Dollar34": "",
                                            "Answers34": "",
                                            "Color34": "",
                                            "Dollar35": "",
                                            "Answers35": "",
                                            "Color35": "",
                                            "Dollar36": "",
                                            "Answers36": "",
                                            "Color36": "",
                                            "Dollar37": "",
                                            "Answers37": "",
                                            "Color37": "",
                                            "Dollar38": "",
                                            "Answers38": "",
                                            "Color38": "",
                                            "Dollar39": "",
                                            "Answers39": "",
                                            "Color39": "",
                                            "Dollar40": "",
                                            "Answers40": "",
                                            "Color40": "",
                                            "Dollar41": "",
                                            "Answers41": "",
                                            "Color41": "",
                                            "Dollar42": "",
                                            "Answers42": "",
                                            "Color42": "",
                                            "Dollar43": "",
                                            "Answers43": "",
                                            "Color43": "",
                                            "Dollar44": "",
                                            "Answers44": "",
                                            "Color44": "",
                                            "Dollar45": "",
                                            "Answers45": "",
                                            "Color45": "",
                                            "Dollar46": "",
                                            "Answers46": "",
                                            "Color46": "",
                                            "Dollar47": "",
                                            "Answers47": "",
                                            "Color47": "",
                                            "Dollar48": "",
                                            "Answers48": "",
                                            "Color48": "",
                                            "Dollar49": "",
                                            "Answers49": "",
                                            "Color49": "",
                                            "Dollar50": "",
                                            "Answers50": "",
                                            "Color50": "",
                                            "Dollar51": "",
                                            "Answers51": "",
                                            "Color51": "",
                                            "Dollar52": "",
                                            "Answers52": "",
                                            "Color52": "",
                                            "Dollar53": "",
                                            "Answers53": "",
                                            "Color53": "",
                                            "Dollar54": "",
                                            "Answers54": "",
                                            "Color54": "",
                                            "Dollar55": "",
                                            "Answers55": "",
                                            "Color55": "",
                                            "Dollar56": "",
                                            "Answers56": "",
                                            "Color56": "",
                                            "Dollar57": "",
                                            "Answers57": "",
                                            "Color57": "",
                                            "Dollar58": "",
                                            "Answers58": "",
                                            "Color58": "",
                                            "Dollar59": "",
                                            "Answers59": "",
                                            "Color59": "",
                                            "Dollar60": "",
                                            "Answers60": "",
                                            "Color60": "",
                                            "Dollar61": "",
                                            "Answers61": "",
                                            "Color61": "",
                                            "Dollar62": "",
                                            "Answers62": "",
                                            "Color62": "",
                                            "Dollar63": "",
                                            "Answers63": "",
                                            "Color63": "",
                                            "Dollar64": "",
                                            "Answers64": "",
                                            "Color64": "",
                                            "Dollar65": "",
                                            "Answers65": "",
                                            "Color65": "",
                                            "Dollar66": "",
                                            "Answers66": "",
                                            "Color66": "",
                                            "Dollar67": "",
                                            "Answers67": "",
                                            "Color67": "",
                                            "Dollar68": "",
                                            "Answers68": "",
                                            "Color68": "",
                                            "Dollar69": "",
                                            "Answers69": "",
                                            "Color69": "",
                                            "Dollar70": "",
                                            "Answers70": "",
                                            "Color70": "",
                                            "Dollar71": "",
                                            "Answers71": "",
                                            "Color71": "",
                                            "Dollar72": "",
                                            "Answers72": "",
                                            "Color72": "",
                                            "Dollar73": "",
                                            "Answers73": "",
                                            "Color73": "",
                                            "Dollar74": "",
                                            "Answers74": "",
                                            "Color74": "",
                                            "Dollar75": "",
                                            "Answers75": "",
                                            "Color75": "",
                                            "Dollar76": "",
                                            "Answers76": "",
                                            "Color76": "",
                                            "Dollar77": "",
                                            "Answers77": "",
                                            "Color77": "",
                                            "Dollar78": "",
                                            "Answers78": "",
                                            "Color78": "",
                                            "Dollar79": "",
                                            "Answers79": "",
                                            "Color79": "",
                                            "Dollar80": "",
                                            "Answers80": "",
                                            "Color80": "",
                                            "Dollar81": "",
                                            "Answers81": "",
                                            "Color81": "",
                                            "Dollar82": "",
                                            "Answers82": "",
                                            "Color82": "",
                                            "Dollar83": "",
                                            "Answers83": "",
                                            "Color83": "",
                                            "Dollar84": "",
                                            "Answers84": "",
                                            "Color84": "",
                                            "Dollar85": "",
                                            "Answers85": "",
                                            "Color85": "",
                                            "Dollar86": "",
                                            "Answers86": "",
                                            "Color86": "",
                                            "Dollar87": "",
                                            "Answers87": "",
                                            "Color87": "",
                                            "Dollar88": "",
                                            "Answers88": "",
                                            "Color88": "",
                                            "Dollar89": "",
                                            "Answers89": "",
                                            "Color89": "",
                                            "Dollar90": "",
                                            "Answers90": "",
                                            "Color90": "",
                                            "Dollar91": "",
                                            "Answers91": "",
                                            "Color91": "",
                                            "Dollar92": "",
                                            "Answers92": "",
                                            "Color92": "",
                                            "Dollar93": "",
                                            "Answers93": "",
                                            "Color93": "",
                                            "Dollar94": "",
                                            "Answers94": "",
                                            "Color94": "",
                                            "Dollar95": "",
                                            "Answers95": "",
                                            "Color95": "",
                                            "Dollar96": "",
                                            "Answers96": "",
                                            "Color96": "",
                                            "Dollar97": "",
                                            "Answers97": "",
                                            "Color97": "",
                                            "Dollar98": "",
                                            "Answers98": "",
                                            "Color98": "",
                                            "Dollar99": "",
                                            "Answers99": "",
                                            "Color99": "",
                                            "Dollar100": "",
                                            "Answers100": "",
                                            "Color100": "",
                                            "Dollar101": "",
                                            "Answers101": "",
                                            "Color101": "",
                                            "Dollar128": "",
                                            "Answers128": "",
                                            "Color128": "",
                                            "Dollar129": "",
                                            "Answers129": "",
                                            "Color129": "",
                                            "Dollar130": "",
                                            "Answers130": "",
                                            "Color130": "",
                                            "Dollar131": "",
                                            "Answers150": "",
                                            "Color150": "",
                                            "Dollar151": "",
                                            "Answers151": "",
                                            "Color151": "",
                                            "Dollar152": "",
                                            "Answers152": "",
                                            "Color152": "",
                                            "Dollar153": "",
                                            "Answers153": "",
                                            "Color153": "",
                                            "Dollar154": "",
                                            "Answers154": "",
                                            "Color154": "",
                                            "Dollar155": "",
                                            "Answers155": "",
                                            "Color155": "",
                                            "Dollar156": "",
                                            "Answers156": "",
                                            "Color156": "",
                                            "Dollar157": "",
                                            "Answers157": "",
                                            "Color157": "",
                                            "Answers400": "",
                                            "Color400": ""
                                          }
                                        }


  /op/GetItemsCount:
    description: retrieves samples and products counts
    get:
      queryParameters:
        wo:
          description: Work Order Number
          required: true
          type: number
        customerId:
          description: customer owner of the work order, required for designer access tokens
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
             example: |
                {
                  "status": true,
                  "wo": 20501146,
                  "counts": {
                    "samples": "1",
                    "products": "0",
                    "total": "1"
                  }
                }
  /op/MoveItem:
    description: Moves an item from 1 work order to another
    post:
      queryParameters:
        wo:
          description: source work order
          required: true
          type: number
        item:
          description: item to move
          required: true
          type: number
        toWo:
          description: destination work order, if not given, the item will be moved to the current cart if no current cart, a new cart is created (if the access token is tied to a consumer). if the access token is tied to a designer instead, a new work order will be created and will be part of the response, to be able to add items to it if desired
          type: number
          required: false
        customerId:
          description: the customer owner of the work order, this is required when the access token is tied to a designer, this is used by the system to make sure that the wo is owned by this customerId. customerId is not used if the access token is tied to a consumer
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
              example: |
                  {
                    "status" : true,
                    "message" : "Item 3 is moved from Work Order# 24112165 to Work Order# 24112169"
                  }

  /op/SaveItemValues:
    description: Save Work Order Item values
    post:
      queryParameters:
        wo:
          description: Work Order Number, if not given, the active cart is used, if no active cart, an error will be returned
          required: false
          type: number
        item:
          description: Work Order Item Number
          required: true
          type: number
        data:
          description: comma separated values of field names and values, for example "foo1:bar1,foo2:bar2" will save two fields foo1 and foo2 with the values bar1 and bar2 respectively
          required: true
          type: string
        customerId:
          description: the customer owner of the work order, this is required when the access token is tied to a designer, this is used by the system to make sure that the wo is owned by this customerId. customerId is not used if the access token is tied to a consumer
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
              example: |
                  {
                    "status":true,
                    "message":"Item values saved"
                  }
  /op/UpdateItem:
    description: Update Work Order Item
    post:
      queryParameters:
        wo:
          description: Work Order Number, for comsumers and if wo not specified, the active cart is used, if no active cart, an error will be returned
          required: false
          type: number
        item:
          description: Work Order Item Number
          required: true
          type: number
        data:
          description: comma separated values of field names and values, for example "Model:bar1,Product:bar2" will update two fields Model and Product and set the following values bar1 and bar2 respectively
          required: true
          type: string
        customerId:
          description: the customer owner of the work order, this is required when the access token is tied to a designer, this is used by the system to make sure that the wo is owned by this customerId. customerId is not used if the access token is tied to a consumer
          required: false
          type: string
      responses:
        200:
          body:
            application/json:
              example: |
                  {
                    "status":true,
                    "message":"Item 3 updated"
                  }
  /op/SaveItem:
    description: Add Items to a work order, if Samples is present in the parameters, this will add samples, if Components is in params, this will add Components, if none of Samples and Components is present, this will add a Blind
    post:
      queryParameters:
        wo:
          description: Work Order number, if not specified, a new work order will be created
          required: false
          type: number
        customerId:
          description: the customer owner of the work order, this is required when the access token is tied to a designer,  consumers don't have to specify customerId
          required: false
          type: string
        appointmentId:
          description: required when adding a new work order (when wo is not specified and access token is tied to a designer),
          type: number
          required: false
        Samples:
          description: if present as a parameter, this will add samples to the work order
          type: boolean
          required: false
        color1:
          description: swatch to add to the work order, use color2, color3, ...color4 to add multiples samples at the same time. this will probably be improved in the future to pass samples as a comma separated value and allow passing other values then colors
          required: false
        Components:
          description: if present, this assumes that components will be added to the work order
          type: boolean
          required: false
        stock_1:
          description: Stock to add, use stock_2,stock_3,....stock_4 to add multiples components at once
          required: false
        qty_1:
          description: qty to order, use qty_1, qty_2, .....qty_3 to specify multpiles quantities, 1 per stock
          required: false
        group_1:
          description: product group ID
          required: false
        product_1:
          description: product ID
          required: false
        Answers1:
          description: prompt answers, from Answers1 to Answers400, applicable for all cases
          required: false
        Colors1:
          description: Colors, from Colors1 to Colors400, applicable for all cases
          required: false
        Product:
          description: Only required when adding a blind
          required: false
        Model:
          description: Only required when adding a blind
          required: false
        Color:
          description: Only required when adding a blind
          required: false
        sidemark:
          description: work order sidemark, only used when creating a new work order
          type: string
          required: false

      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "stauts": true,
                  "items": [
                    {
                      "Wo": "20500827",
                      "Item": "1",
                      "GGroup": "99999",
                      "Product": "9000",
                      "Model": "",
                      "Stock": "14241",
                      "Color": "",
                      "Qty": "1.000",
                      "QtyPacked": "0.000",
                      "QtyShipped": "0.000",
                      "ReliefPurchase": "R",
                      "Warehouse": "1",
                      "ManualWhs": "",
                      "ShipVia": "",
                      "ShipTo": "",
                      "Retail": "0.0000",
                      "Misc": "0.0000",
                      "DiscTier": "",
                      "Discount": "0.0000",
                      "Surch": "0.0000",
                      "FedTaxable": "N",
                      "StateTaxable": "Y",
                      "Duty": "0.0000",
                      "SubTotal": "0.0000",
                      "IntDisc": "0.00",
                      "AutoInstallCharge": "N",
                      "ClientType": "",
                      "ClientRate": "0.0000",
                      "Value": "0.0000",
                      "CostRetail": "0.0000",
                      "CostMisc": "0.0000",
                      "CostSurch": "0.0000",
                      "QtyInvoiced": "0.000",
                      "QtyCancelled": "0.000",
                      "QtyPosted": "0.000",
                      "CloseOutQty": "0.000",
                      "QtySpecialPOMade": "0.000",
                      "PercentAccuracy": "0.00",
                      "EffectiveDiscRate": "0.0000",
                      "OriginalEffDisc": "0.0000",
                      "PostStatus": "0",
                      "Printed": "0",
                      "MiscCode": "0",
                      "SurchCode": "0",
                      "Room": "",
                      "Window": "0",
                      "CommentStar": "",
                      "ManualPrice": "",
                      "ManualInventory": "",
                      "ManualVariable": "",
                      "Commission1": "0.00",
                      "Commission2": "0.00",
                      "Commission3": "0.00",
                      "Commission4": "0.00",
                      "Commission5": "0.00",
                      "Description": "",
                      "Outsource": "N",
                      "ManualOverride": "N",
                      "Vendor": "",
                      "VendorDiscount": "",
                      "VendorRate": "0.0000",
                      "VendorDays": "0",
                      "SurchBeforeRush": "0.0000",
                      "Rush": "0.0000",
                      "ItemBatch": "-1",
                      "ItemBatchSeq": "0",
                      "ItemStatus": "0",
                      "ItemDateRequired": "0000-00-00",
                      "ItemWhs": "",
                      "WishDate": "0000-00-00",
                      "EdiProduct": "0",
                      "EdiCustomerItem": "",
                      "OriginalItem": "0",
                      "RemakeReason": "0",
                      "PromptAnswers": "",
                      "Characteristics": "",
                      "Decoration": "0",
                      "ProductCharge": "0",
                      "ArtApprovalRequired": "N",
                      "EstDate": "0000-00-00",
                      "EstDateOrig": "0000-00-00",
                      "EstDateNewDate": "0000-00-00",
                      "HadEstDate": "",
                      "CalculatedSubTotal": "0.0000",
                      "SProduct": "94242",
                      "EdiCustomerStock": "",
                      "SalesContract": "",
                      "ContractCost": "0.0000",
                      "LoadPercent": "0.0000",
                      "LoadDollars": "0.0000",
                      "ScenarioI": "0",
                      "TaxAmt": "0.0000",
                      "FromMeasure": "",
                      "EdiInfo0": "",
                      "EdiInfo1": "",
                      "EdiInfo2": "",
                      "EdiInfo3": "",
                      "EdiInfo4": "",
                      "EdiInfo5": "",
                      "EdiInfo6": "",
                      "EdiInfo7": "",
                      "EdiInfo8": "",
                      "EdiInfo9": "",
                      "UUID": "",
                      "Dollar1": 0,
                      "Answers1": "",
                      "Color1": "",
                      "Dollar2": 0,
                      "Answers2": "",
                      "Color2": "",
                      "Dollar3": 0,
                      "Answers3": "",
                      "Color3": "",
                      "Dollar4": 0,
                      "Answers4": "",
                      "Color4": "",
                      "Dollar5": 0,
                      "Answers5": "",
                      "Color5": "",
                      "Dollar6": 0,
                      "Answers6": "",
                      "Color6": "",
                      "Dollar7": 0,
                      "Answers7": "",
                      "Color7": "",
                      "Dollar8": 0,
                      "Answers8": "",
                      "Color8": "",
                      "Dollar9": 0,
                      "Answers9": "",
                      "Color9": "",
                      "Dollar10": 0,
                      "Answers10": "",
                      "Color10": "",
                      "Dollar11": 0,
                      "Answers11": "",
                      "Color11": "",
                      "Dollar12": 0,
                      "Answers12": "",
                      "Color12": "",
                      "Dollar13": 0,

                      "Answers25": "",
                      "Color25": "",
                      "Dollar26": 0,
                      "Answers26": "",
                      "Color26": "",
                      "Dollar27": 0,
                      "Answers27": "",
                      "Color27": "",
                      "Dollar28": 0,
                      "Answers28": "",
                      "Color28": "",
                      "Dollar29": 0,
                      "Answers29": "",
                      "Color29": "",
                      "Dollar30": 0,
                      "Answers30": "",
                      "Color30": "",
                      "Dollar31": 0,
                      "Answers31": "",
                      "Color31": "",
                      "Dollar32": 0,
                      "Answers32": "",
                      "Color32": "",
                      "Dollar33": 0,
                      "Answers33": "",
                      "Color33": "",
                      "Dollar34": 0,
                      "Answers34": "",
                      "Color34": "",
                      "Dollar35": 0,
                      "Answers35": "",
                      "Color35": "",
                      "Dollar36": 0,
                      "Answers36": "",
                      "Color36": "",
                      "Dollar37": 0,
                      "Answers37": "",
                      "Color37": "",
                      "Dollar38": 0,
                      "Answers38": "",
                      "Color38": "",
                      "Dollar39": 0,
                      "Answers39": "",
                      "Color39": "",
                      "Dollar40": 0,
                      "Answers40": "",
                      "Color40": "",
                      "Dollar41": 0,
                      "Answers41": "",
                      "Color41": "",
                      "Dollar42": 0,
                      "Answers42": "",
                      "Color42": "",
                      "Dollar43": 0,
                      "Answers43": "",
                      "Color43": "",
                      "Dollar44": 0,
                       "Answers55": "",
                      "Color55": "",
                      "Dollar56": 0,
                      "Answers56": "",
                      "Color56": "",
                      "Dollar57": 0,
                      "Answers57": "",
                      "Color57": "",
                      "Dollar58": 0,
                      "Answers58": "",
                      "Color58": "",
                      "Dollar59": 0,
                      "Answers59": "",
                      "Color59": "",
                      "Dollar60": 0,
                      "Answers60": "",
                      "Color60": "",
                      "Dollar61": 0,

                      "Dollar74": 0,
                      "Answers74": "",
                      "Color74": "",
                      "Dollar75": 0,
                      "Answers75": "",
                      "Color75": "",
                      "Dollar76": 0,
                      "Answers76": "",
                      "Color76": "",
                      "Dollar77": 0,
                      "Answers77": "",
                      "Color77": "",
                      "Dollar78": 0,
                      "Answers78": "",
                      "Color78": "",
                      "Dollar79": 0,
                      "Answers79": "",
                      "Color79": "",
                      "Dollar80": 0,
                      "Answers80": "",
                      "Color80": "",
                      "Dollar81": 0,
                      "Answers81": "",
                      "Color81": "",
                      "Dollar82": 0,
                      "Answers82": "",
                      "Color82": "",
                      "Dollar83": 0,
                      "Answers83": "",
                      "Color83": "",

                      "Color95": "",
                      "Dollar96": 0,
                      "Answers96": "",
                      "Color96": "",
                      "Dollar97": 0,
                      "Answers97": "",
                      "Color97": "",
                      "Dollar98": 0,
                      "Answers98": "",
                      "Color98": "",
                      "Dollar99": 0,
                      "Answers99": "",
                      "Color99": "",
                      "Dollar100": 0,
                      "Answers100": "",
                      "Color100": "",
                      "Dollar101": 0,
                      "Answers101": "",
                      "Color101": "",
                      "Dollar102": 0,
                      "Answers102": "",
                      "Color102": "",
                      "Dollar103": 0,
                      "Answers103": "",
                      "Color103": "",
                      "Dollar104": 0,
                      "Answers104": "",
                      "Color104": "",
                      "Dollar105": 0,
                      "Answers105": "",
                      "Color105": "",
                      "Dollar106": 0,
                      "Answers106": "",
                      "Color106": "",
                      "Dollar107": 0,
                      "Answers107": "",
                      "Color107": "",
                      "Dollar108": 0,
                      "Answers108": "",
                      "Color108": "",
                      "Dollar109": 0,
                      "Answers109": "",
                      "Color109": "",
                      "Dollar110": 0,
                      "Answers110": "",
                      "Color110": "",
                      "Dollar111": 0,
                      "Answers111": "",
                      "Color111": "",
                      "Dollar112": 0,
                      "Answers112": "",
                      "Color112": "",
                      "Dollar113": 0,
                      "Answers113": "",
                      "Color113": "",
                      "Dollar114": 0,
                      "Answers114": "",
                      "Color114": "",
                      "Dollar115": 0,
                      "Answers115": "",

                      "Color127": "",
                      "Dollar128": 0,
                      "Answers128": "",
                      "Color128": "",
                      "Dollar129": 0,
                      "Answers129": "",
                      "Color129": "",
                      "Dollar130": 0,
                      "Answers130": "",
                      "Color130": "",
                      "Dollar131": 0,
                      "Answers131": "",
                      "Color131": "",
                      "Dollar132": 0,
                      "Answers132": "",
                      "Color132": "",
                      "Dollar133": 0,
                      "Answers133": "",
                      "Color133": "",
                      "Dollar134": 0,
                      "Answers134": "",
                      "Color134": "",
                      "Dollar135": 0,
                      "Answers135": "",
                      "Color135": "",
                      "Dollar136": 0,
                      "Answers136": "",
                      "Color136": "",
                      "Dollar137": 0,
                      "Answers137": "",
                      "Color137": "",
                      "Dollar138": 0,
                      "Answers138": "",
                      "Color138": "",
                      "Dollar139": 0,
                      "Answers139": "",
                      "Color139": "",
                      "Dollar140": 0,
                      "Answers140": "",
                      "Color140": "",
                      "Dollar141": 0,
                      "Answers141": "",
                      "Color141": "",
                      "Dollar142": 0,
                      "Answers142": "",
                      "Color142": "",
                      "Dollar143": 0,
                      "Answers143": "",
                      "Color143": "",
                      "Dollar144": 0,
                      "Answers144": "",
                      "Color144": "",
                      "Dollar145": 0,
                      "Answers145": "",
                      "Color145": "",
                      "Dollar146": 0,
                      "Answers146": "",
                      "Color146": "",
                      "Dollar147": 0,
                      "Answers147": "",
                      "Color147": "",
                      "Dollar148": 0,
                      "Answers148": "",
                      "Color148": "",
                      "Dollar149": 0,
                      "Answers149": "",
                      "Color149": "",
                      "Dollar150": 0,
                      "Answers150": "",
                      "Color150": "",
                      "Dollar151": 0,
                      "Answers151": "",
                      "Color151": "",
                      "Dollar152": 0,
                      "Answers152": "",
                      "Color152": "",
                      "Dollar153": 0,
                      "Answers153": "",
                      "Color153": "",
                      "Dollar154": 0,
                      "Answers154": "",
                      "Color154": "",
                      "Dollar155": 0,
                      "Answers155": "",
                      "Color155": "",
                      "Dollar156": 0,
                      "Answers156": "",
                      "Color156": "",
                      "Dollar157": 0,
                      "Answers157": "",
                      "Color157": "",
                      "Dollar158": 0,
                      "Answers158": "",
                      "Color158": "",
                      "Dollar159": 0,
                      "Answers159": "",
                      "Color159": "",
                      "Dollar160": 0,
                      "Answers160": "",
                      "Color160": "",
                      "Dollar161": 0,
                      "Answers161": "",
                      "Color161": "",
                      "Dollar162": 0,
                      "Answers162": "",
                      "Color162": "",

                      "Dollar177": 0,
                      "Answers177": "",
                      "Color177": "",
                      "Dollar178": 0,
                      "Answers178": "",
                      "Color178": "",
                      "Dollar179": 0,
                      "Answers179": "",
                      "Color179": "",
                      "Dollar180": 0,
                      "Answers180": "",
                      "Color180": "",
                      "Dollar181": 0,
                      "Answers181": "",
                      "Color181": "",
                      "Dollar182": 0,
                      "Answers182": "",
                      "Color182": "",
                      "Dollar183": 0,
                      "Answers183": "",
                      "Color183": "",
                      "Dollar184": 0,
                      "Answers184": "",
                      "Color184": "",
                      "Dollar185": 0,
                      "Answers185": "",
                      "Color185": "",
                      "Dollar186": 0,
                      "Answers186": "",
                      "Color186": "",
                      "Dollar187": 0,
                      "Answers187": "",
                      "Color187": "",
                      "Dollar188": 0,
                      "Answers188": "",
                      "Color188": "",
                      "Dollar189": 0,
                      "Answers189": "",
                      "Color189": "",
                      "Dollar190": 0,
                      "Answers190": "",
                      "Color190": "",
                      "Dollar191": 0,
                      "Answers191": "",
                      "Color191": "",
                      "Dollar192": 0,
                      "Answers192": "",
                      "Color192": "",
                      "Dollar193": 0,
                      "Answers193": "",
                      "Color193": "",
                         "Color210": "",
                      "Dollar211": 0,
                      "Answers211": "",
                      "Color211": "",
                      "Dollar212": 0,
                      "Answers212": "",
                      "Color212": "",
                      "Dollar213": 0,

                      "Dollar227": 0,
                      "Answers227": "",
                      "Color227": "",
                      "Dollar228": 0,
                      "Answers228": "",
                      "Color228": "",
                      "Dollar229": 0,
                      "Answers229": "",
                      "Color229": "",
                      "Dollar230": 0,
                      "Answers230": "",

                      "Color254": "",
                      "Dollar255": 0,
                      "Answers255": "",
                      "Color255": "",
                      "Dollar256": 0,

                      "Answers279": "",
                      "Color279": "",
                      "Dollar280": 0,
                      "Answers280": "",
                      "Color280": "",
                      "Dollar281": 0,
                      "Answers281": "",
                      "Color281": "",
                      "Dollar282": 0,
                      "Answers282": "",
                      "Color282": "",
                      "Dollar283": 0,

                      "Color292": "",
                      "Dollar293": 0,
                      "Answers293": "",
                      "Color293": "",
                      "Dollar294": 0,
                      "Answers294": "",
                      "Color294": "",
                      "Dollar295": 0,

                      "Dollar300": 0,
                      "Answers300": "",
                      "Color300": "",
                      "Dollar301": 0,
                      "Answers301": "",
                      "Color301": "",
                      "Dollar302": 0,
                      "Answers302": "",
                      "Color302": "",
                      "Dollar303": 0,

                      "Dollar316": 0,
                      "Answers316": "",
                      "Color316": "",
                      "Dollar317": 0,
                      "Answers317": "",
                      "Color317": "",
                      "Dollar318": 0,
                      "Answers318": "",
                      "Color318": "",
                      "Dollar319": 0,
                      "Answers319": "",
                      "Color319": "",
                      "Dollar320": 0,
                      "Answers320": "",
                      "Color320": "",
                      "Dollar321": 0,
                      "Answers321": "",
                      "Color321": "",
                      "Dollar322": 0,
                      "Answers322": "",
                      "Color322": "",
                      "Dollar323": 0,
                      "Answers323": "",
                      "Color323": "",
                      "Dollar324": 0,

                      "Dollar340": 0,
                      "Answers340": "",
                      "Color340": "",
                      "Dollar341": 0,
                      "Answers341": "",
                      "Color341": "",
                      "Dollar342": 0,
                      "Answers342": "",
                      "Color342": "",
                      "Dollar343": 0,
                      "Answers343": "",
                      "Color343": "",
                      "Dollar344": 0,
                      "Answers344": "",
                      "Color344": "",
                      "Dollar345": 0,
                      "Answers345": "",
                      "Color345": "",
                      "Dollar346": 0,
                      "Answers346": "",
                      "Color346": "",
                      "Dollar347": 0,
                      "Answers347": "",
                      "Color347": "",
                      "Dollar348": 0,
                      "Answers348": "",
                      "Color348": "",
                      "Dollar349": 0,
                      "Answers349": "",
                      "Color349": "",
                      "Dollar350": 0,
                      "Answers350": "",
                      "Color350": "",
                      "Dollar351": 0,
                      "Answers351": "",
                      "Color351": "",
                      "Dollar352": 0,
                      "Answers352": "",
                      "Color352": "",
                      "Dollar353": 0,
                      "Answers353": "",
                      "Color353": "",
                      "Dollar354": 0,
                      "Answers354": "",
                      "Color354": "",
                      "Dollar355": 0,
                      "Answers355": "",
                      "Color355": "",
                      "Dollar356": 0,
                      "Answers356": "",
                      "Color356": "",
                      "Dollar357": 0,
                      "Answers357": "",
                      "Color357": "",
                      "Dollar358": 0,
                      "Answers358": "",
                      "Color358": "",
                      "Dollar359": 0,
                      "Answers359": "",
                      "Color359": "",
                      "Dollar360": 0,
                      "Answers360": "",
                      "Color360": "",
                      "Dollar361": 0,
                      "Answers361": "",
                      "Color361": "",
                      "Dollar362": 0,
                      "Answers362": "",
                      "Color362": "",
                      "Dollar363": 0,
                      "Answers363": "",
                      "Color363": "",
                      "Dollar364": 0,
                      "Answers364": "",
                      "Color364": "",
                      "Dollar365": 0,
                      "Answers365": "",
                      "Color365": "",
                      "Dollar366": 0,
                      "Answers366": "",
                      "Color366": "",
                      "Dollar367": 0,
                      "Answers367": "",
                      "Color367": "",
                      "Dollar368": 0,
                      "Answers368": "",
                      "Color368": "",
                      "Dollar369": 0,
                      "Answers369": "",
                      "Color369": "",
                      "Dollar370": 0,
                      "Answers370": "",
                      "Color370": "",
                      "Dollar371": 0,
                      "Answers371": "",
                      "Color371": "",
                      "Dollar372": 0,
                      "Answers372": "",
                      "Color372": "",
                      "Dollar373": 0,
                      "Answers373": "",
                      "Color373": "",
                      "Dollar374": 0,
                      "Answers374": "",
                      "Color374": "",
                      "Dollar375": 0,
                      "Answers375": "",
                      "Color375": "",
                      "Dollar376": 0,
                      "Answers376": "",
                      "Color376": "",
                      "Dollar377": 0,
                      "Answers377": "",
                      "Color377": "",
                      "Dollar378": 0,
                      "Answers378": "",
                      "Color378": "",
                      "Dollar379": 0,
                      "Answers379": "",
                      "Color379": "",
                      "Dollar380": 0,
                      "Answers380": "",
                      "Color380": "",
                      "Dollar381": 0,
                      "Answers381": "",
                      "Color381": "",
                      "Dollar382": 0,
                      "Answers382": "",
                      "Color382": "",
                      "Dollar383": 0,
                      "Answers383": "",
                      "Color383": "",
                      "Dollar384": 0,
                      "Answers384": "",
                      "Color384": "",
                      "Dollar385": 0,
                      "Answers385": "",
                      "Color385": "",
                      "Dollar386": 0,
                      "Answers386": "",
                      "Color386": "",
                      "Dollar387": 0,
                      "Answers387": "",
                      "Color387": "",
                      "Dollar388": 0,
                      "Answers388": "",
                      "Color388": "",
                      "Dollar389": 0,
                      "Answers389": "",
                      "Color389": "",
                      "Dollar390": 0,
                      "Answers390": "",
                      "Color390": "",
                      "Dollar391": 0,
                      "Answers391": "",
                      "Color391": "",
                      "Dollar392": 0,
                      "Answers392": "",
                      "Color392": "",
                      "Dollar393": 0,
                      "Answers393": "",
                      "Color393": "",
                      "Dollar394": 0,
                      "Answers394": "",
                      "Color394": "",
                      "Dollar395": 0,
                      "Answers395": "",
                      "Color395": "",
                      "Dollar396": 0,
                      "Answers396": "",
                      "Color396": "",
                      "Dollar397": 0,
                      "Answers397": "",
                      "Color397": "",
                      "Dollar398": 0,
                      "Answers398": "",
                      "Color398": "",
                      "Dollar399": 0,
                      "Answers399": "",
                      "Color399": "",
                      "Dollar400": 0,
                      "Answers400": "",
                      "Color400": "",
                      "out-of-range": true,
                      "Date": "2016-08-04",
                      "errors": [],
                      "warnings": [],
                      "info": []
                    }
                  ]
                }


/Appointments:
  description: Get Appointments Assigned to a designer
  get:
    queryParameters:
      zip?:
        type: string
        required: false
      email:
        type: string
        required: false
      name:
        type: string
        required: false
      priorApptId:
        type: number
        description: Prior Appointment ID
        required: false
      productWo:
        type: number
        description: Production Work Order
        required: false
      installWo:
        type: number
        description: Installation Work Order
        required: false
      customerId:
        type: string
        description: customer id
        required: false
      apptId:
        type: number
        description: Appointnent ID
        required: false
      StartTime?:
      EndTime?:
      status?:
      customerName?:
      customerFirstName?:
      offset:
        type: integer
        description: pagination offset
        default: 0
        required: false
      limit:
        type: number
        description: pagination limit
        default: 10
        required: false
      phone:
        type: string
        description: search for appointments by phone
        required: false
      DateFrom:
        type: datetime
        description: date from range (mm/dd/yyyy)
        required: false
      DateTo:
        type: datetime
        description: date to range (mm/dd/yyyy)

    responses:
      200:
        body:
          application/json:
            example: |
              {
              "appointments": [
                {
                  "Appointment": "399",
                  "Status": "300",
                  "Customer": "305561",
                  "PriorAppointment": "",
                  "ProductOrder": "0",
                  "InstallOrder": "0",
                  "MeasureOrder": "0",
                  "AppointmentType": "IHD",
                  "DurationValue": "1",
                  "Name": "Ratrout",
                  "FirstName": "Khalil",
                  "Address1": "1181 California Ave",
                  "Address2": "",
                  "City": "CORONA",
                  "State": "CA",
                  "Zip": "92881",
                  "ApptAVS": "N",
                  "Phone": "6266668965",
                  "Cell": "",
                  "AllowText": "",
                  "Email": "kratrout@infinitetiers.com",
                  "TimePreference": "AT",
                  "StartTime": "2016-03-17T16:30:00-07:00",
                  "EndTime": "2016-03-17T18:30:00-07:00",
                  "TimeRequired": "120",
                  "BookingOrigin": "C",
                  "Source": "I",
                  "MarketingCode": "",
                  "HearSource": "8",
                  "PhoneCode": "Web",
                  "HoursRequired": 2,
                  "StatusText": "APPT BOOKED",
                  "DisplayStartDate": "Thursday March 17, 2016",
                  "DisplayStartTime": "4:30pm PDT",
                  "DisplayEndTime": "4:30pm PDT",
                  "Roles": {
                    "DESIGNER": {
                      "StartTime": {
                        "date": "2016-03-17 16:30:00",
                        "timezone_type": 1,
                        "timezone": "-07:00"
                        },
                        "IsPrimary": true,
                        "TimeRequired": "120",
                        "Name": "MELODIE HARE",
                        "Phone": "(951) 870-1723",
                        "Email": "MHARE@SMITHNOBLE.COM",
                        "Id": "765",
                        "ResourceType": "I"
                        },
                        "INSTALLER": []
                      }
                    }
                  ]
                  }
  /op/AssignedResources:
    description: get appointment assigned resources
    get:
      queryParameters:
        appointmentId:
          description: Appointment ID
          type: number
          required: true
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "primary": {
                    "Appointment": "128",
                    "RuleResource": "DESIGNER",
                    "Resource": "1197",
                    "StartTime": "2015-05-18 15:30:00",
                    "EndTime": "2015-05-18 18:30:00",
                    "TimeRequired": "180",
                    "Name": "NANCY",
                    "FirstName": "O'LEARY",
                    "Territory": "US",
                    "Address1": "623 CABEZON PLACE",
                    "Address2": "",
                    "City": "VISTA",
                    "State": "CA",
                    "Zip": "92081",
                    "Phone": "(760) 521-0579",
                    "HomePhone": "",
                    "CellPhone": "",
                    "AllowText": "N",
                    "Fax": "",
                    "Email": "NOLEARY@SMITHNOBLE.COM",
                    "Date": "0000-00-00",
                    "DeActivate": "N",
                    "CorporateID": "",
                    "ResourceType": "I",
                    "Vendor": "",
                    "ResourceTeam": "REGION 2",
                    "PerformanceAllocationRanking": "100.00",
                    "DualResourceRequired": "N",
                    "NotificationMethod": "E",
                    "NotifyConfirmation": "Y",
                    "NotifyReminder": "Y",
                    "NotifyCancellation": "Y",
                    "Country": "US",
                    "Profile": ""
                  },
                  "secondaries": {
                    "INSTALLER": null
                  }
                }
  /op/AvailableDates:
    description: get available dates within the specified date range
    get:
      queryParameters:
        appt:
          type: number
          description: appointment ID
          required: true
        rangeStart:
          type: datetime
          required: true
        rangeEnd:
          type: datetime
          required: true
        timePreference:
          required: false
          type: string
          default: 'AT'
        slotLength:
           type: number
           required: false
           default: 30
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "status": false,
                  "message": "No Resources are assignable for that Zip Code, Appointment Type, and Time Range."
                }
  /op/AvailableTimes:
    description: get list of all available times
    get:
      queryParameters:
        appt:
          description: Appointment ID
          required: true
          type: number
        startTime:
          type: datetime
          required: true
        slotLength:
          type: number
          default: 30
          required: false
        direction:
          type: string
          required: false
          default: 'inc'


      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "status": false,
                  "message": "Invalid input."
                }
  /op/DurationValues:
    description: get Appointments durations
    get:
      queryParameters:
        Type:
          description: Appointment Type
          required: true
      responses:
        200:
          body:
            application/json:
              example: |
                {
                    "rules": [
                      {
                        "Rule": "IN-HOME DESIGN",
                        "RuleResource": "DESIGNER",
                        "Seq": "1",
                        "ValueDescription": "1 TO 8 WINDOWS",
                        "ValueMin": "1",
                        "ValueMax": "8",
                        "TimeRequired": "120",
                        "Status": "A"
                      },
                      {
                        "Rule": "IN-HOME DESIGN",
                        "RuleResource": "DESIGNER",
                        "Seq": "1",
                        "ValueDescription": "9 TO 15 WINDOWS",
                        "ValueMin": "9",
                        "ValueMax": "15",
                        "TimeRequired": "180",
                        "Status": "A"
                      },
                      {
                        "Rule": "IN-HOME DESIGN",
                        "RuleResource": "DESIGNER",
                        "Seq": "1",
                        "ValueDescription": "16 TO 24 WINDOWS",
                        "ValueMin": "16",
                        "ValueMax": "24",
                        "TimeRequired": "240",
                        "Status": "A"
                      },
                      {
                        "Rule": "IN-HOME DESIGN",
                        "RuleResource": "DESIGNER",
                        "Seq": "1",
                        "ValueDescription": "25 + WINDOWS",
                        "ValueMin": "25",
                        "ValueMax": "100",
                        "TimeRequired": "300",
                        "Status": "A"
                      }
                    ],
                    "Type": "ihd"
                  }


  /op/PrequalifyTypes:
    description: get Appointment types with description for a given zip code
    get:
      queryParameters:
        zipcode:
          type: number
          required: true
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "types": [
                    {
                      "AppointmentType": "OPD",
                      "Description": "On-Phone Design"
                    },
                    {
                      "AppointmentType": "FLW",
                      "Description": "Follow Up"
                    },
                    {
                      "AppointmentType": "IHD",
                      "Description": "In-Home Design"
                    },
                    {
                      "AppointmentType": "IHI",
                      "Description": "In-Home Installation"
                    }
                  ],
                  "zipcode": "78251"
                }
  /op/Questions:
    description: get questions for a given appointment type
    get:
      queryParameters:
        type:
          type: string
          description: Appointment Type
          required: true
        activeOnly:
          type: boolean
          required: false
          default: false
      responses:
        200:
          body:
            application/json:
              example: |
                   {
                      "questions": [
                        {
                          "Question": "DRAPERIES",
                          "Seq": "10",
                          "Used": "N",
                          "QuestionText": "Draperies",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "3",
                          "CodeDisplayType": "R",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2015-05-01 18:10:11",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "DRAPERIES",
                              "CodeSeq": "1",
                              "Code": "D",
                              "Description": "DRAPERIES"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "BLINDS",
                          "Seq": "10",
                          "Used": "N",
                          "QuestionText": "Blinds",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "3",
                          "CodeDisplayType": "S",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2015-05-04 16:39:17",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "BLINDS",
                              "CodeSeq": "1",
                              "Code": "B",
                              "Description": "BLINDS"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "SHUTTERS",
                          "Seq": "10",
                          "Used": "N",
                          "QuestionText": "Shutters",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "3",
                          "CodeDisplayType": "R",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2015-05-01 18:10:15",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "SHUTTERS",
                              "CodeSeq": "1",
                              "Code": "S",
                              "Description": "SHUTTERS"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "COMMENTS",
                          "Seq": "10",
                          "Used": "Y",
                          "QuestionText": "Additional Comments",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "A",
                          "DefaultCode": "1",
                          "CodeDisplayType": "R",
                          "Cols": "70",
                          "Rows": "4",
                          "DefaultValue": "",
                          "TS_apptquestion": "2016-05-04 06:58:46",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [],
                          "Answer": ""
                        },
                        {
                          "Question": "ROOMS",
                          "Seq": "20",
                          "Used": "Y",
                          "QuestionText": "How many rooms are in your house?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "1",
                          "CodeDisplayType": "S",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2015-05-04 16:42:32",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "1",
                              "Code": "1",
                              "Description": "1"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "2",
                              "Code": "2",
                              "Description": "2"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "3",
                              "Code": "3",
                              "Description": "3"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "4",
                              "Code": "4",
                              "Description": "4"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "5",
                              "Code": "5",
                              "Description": "5"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "6",
                              "Code": "6",
                              "Description": "6"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "7",
                              "Code": "7",
                              "Description": "7"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "8",
                              "Code": "8",
                              "Description": "8"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "9",
                              "Code": "9",
                              "Description": "9"
                            },
                            {
                              "Question": "ROOMS",
                              "CodeSeq": "10",
                              "Code": "10",
                              "Description": "10"
                            }
                          ],
                          "Answer": "1"
                        },
                        {
                          "Question": "OVER10FT",
                          "Seq": "30",
                          "Used": "Y",
                          "QuestionText": "Any windows over 10 feet high?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "1",
                          "CodeDisplayType": "S",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2016-04-28 10:47:31",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "OVER10FT",
                              "CodeSeq": "1",
                              "Code": "P",
                              "Description": "PLEASE SELECT"
                            },
                            {
                              "Question": "OVER10FT",
                              "CodeSeq": "2",
                              "Code": "N",
                              "Description": "NOT OVER 10 FEET"
                            },
                            {
                              "Question": "OVER10FT",
                              "CodeSeq": "3",
                              "Code": "15",
                              "Description": "10 - 15 FEET HIGH"
                            },
                            {
                              "Question": "OVER10FT",
                              "CodeSeq": "4",
                              "Code": "20",
                              "Description": "16 - 20 FEET HIGH"
                            },
                            {
                              "Question": "OVER10FT",
                              "CodeSeq": "5",
                              "Code": "21",
                              "Description": "21 FEET HIGH OR MORE"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "LOWES",
                          "Seq": "30",
                          "Used": "Y",
                          "QuestionText": "Which Lowe's Store did you hear about us from?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "1",
                          "CodeDisplayType": "S",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2016-03-20 09:06:23",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "LOWES",
                              "CodeSeq": "1",
                              "Code": "N",
                              "Description": "DID NOT HEAR ABOUT S&N FROM LOWES"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "2",
                              "Code": "1043",
                              "Description": "ANTIOCH, 1951 AUTO CENTER DRIVE"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "3",
                              "Code": "2508",
                              "Description": "ANTIOCH, 5503 LONE TREE WAY"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "4",
                              "Code": "2604",
                              "Description": "CONCORD, 1935 ARNOLD INDUSTRIAL WAY"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "5",
                              "Code": "1901",
                              "Description": "COTATI, 7921 REDWOOD DRIVE"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "6",
                              "Code": "3164",
                              "Description": "FAIRFIELD, 3400 NORTH TEXAS STREET"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "7",
                              "Code": "1895",
                              "Description": "FREMONT, 43612 PACIFIC COMMONS BLVD"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "8",
                              "Code": "1150",
                              "Description": "LIVERMORE, 4255 FIRST STREET"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "9",
                              "Code": "1019",
                              "Description": "SAN BRUNO, 1340 EL CAMINO REAL"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "10",
                              "Code": "3095",
                              "Description": "SAN FRANCISCO, 491 BAYSHORE BOULEVARD"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "11",
                              "Code": "2452",
                              "Description": "SOUTH SAN FRANCISCO, 720 DUBUQUE AVENUE"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "12",
                              "Code": "1132",
                              "Description": "UNION CITY, 32040 UNION LANDING BLVD"
                            },
                            {
                              "Question": "LOWES",
                              "CodeSeq": "13",
                              "Code": "1871",
                              "Description": "VALLEJO, 401 COLUMBUS PARKWAY"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "GATE_CODE",
                          "Seq": "34",
                          "Used": "Y",
                          "QuestionText": "Gate Code or Access Requirements?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "T",
                          "DefaultCode": "1",
                          "CodeDisplayType": "R",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2016-04-25 10:30:31",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [],
                          "Answer": ""
                        },
                        {
                          "Question": "MULTI_UNIT",
                          "Seq": "36",
                          "Used": "Y",
                          "QuestionText": "Do you live in an apartment, highrise or condo?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "1",
                          "CodeDisplayType": "S",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2016-04-25 10:30:06",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "MULTI_UNIT",
                              "CodeSeq": "1",
                              "Code": "N",
                              "Description": "NO, NOT AN APARTMENT, HIGHRISE OR CONDO"
                            },
                            {
                              "Question": "MULTI_UNIT",
                              "CodeSeq": "2",
                              "Code": "Y",
                              "Description": "YES, AN APARTMENT, HIGHRISE OR CONDO"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "INSURANCE",
                          "Seq": "37",
                          "Used": "Y",
                          "QuestionText": "Insurance Documentation Required?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
                          "CodeType": "C",
                          "DefaultCode": "1",
                          "CodeDisplayType": "S",
                          "Cols": "0",
                          "Rows": "0",
                          "DefaultValue": "",
                          "TS_apptquestion": "2016-04-25 10:28:08",
                          "TS_apptquestion_archived": "0000-00-00 00:00:00",
                          "AppointmentType": "IHD",
                          "Choices": [
                            {
                              "Question": "INSURANCE",
                              "CodeSeq": "1",
                              "Code": "N",
                              "Description": "NO INSURANCE DOCUMENTATION REQUIRED"
                            },
                            {
                              "Question": "INSURANCE",
                              "CodeSeq": "2",
                              "Code": "Y",
                              "Description": "YES INSURANCE DOCUMENTAION REQUIRED"
                            }
                          ],
                          "Answer": ""
                        },
                        {
                          "Question": "PARKING",
                          "Seq": "39",
                          "Used": "Y",
                          "QuestionText": "Are there any special parking requirements?",
                          "Required": "N",
                          "FromValue": "0.0000",
                          "ToValue": "0.0000",
                          "DecPlaces": "1",
[...]
